body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

.avatar {
    width: 150px;
}

.card {
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 10px solid #d8cefe;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
}
